{{>header}}
<div class="container-sm main">
  <h1 class="text-center">{{pageTitle}}</h1>
  <img src="./media/Stormwatch.jpg" alt="" srcset="" class="img-small" />

  <p>
    The weather API gets location coordinates from the Mapbox API and then
    feeds these coordinates to Darksky API
  </p>
</div>
{{>footer}}