{{>header}}
<div class="container-sm main">
  {{!-- <h1 class="text-center">{{pageTitle}}</h1> --}}
  <h2 id="searched-location"></h2>
  <p id="location-current-time"></p>
  <p><span id="temperature"></span> <span id="rain-probability"></span></p>
  <p id="summary"></p>
</div>
{{>footer}}